@import "../../utils/styles/global.scss";

main {
  padding: 0 100px;
  @media (max-width: 765px) {
    padding: 0 20px;
  }

  .collapses {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;

    @media (max-width: 765px) {
      gap: 20px;
      margin-top: 20px;
    }
  }
}
