.locations {
  border-radius: 25px;
  background: #f6f6f6;
  margin-top: 43px;
  padding: 56px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 60px;


 @media (max-width:765px) {
  grid-template-columns: 1fr;
  gap: 20px;
  background:none;
  padding: 0;
  margin-top: 22px;
  }
}
