@import "../../utils/styles/global.scss";

.page404 {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  @media (max-width: 765px) {
    gap: 90px;
  }

  * {
    margin: 0;
  }

  h1 {
    color: $orange-color;
    font-size: 190px;

    @media (max-width: 765px) {
      font-size: 96px;
      padding-top: 90px;
    }
  }

  h2 {
    font-size: 30px;
    font-weight: 500;
    color: $orange-color;
    text-align: center;
    @media (max-width: 765px) {
      font-size: 18px;
    }
  }

  a {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    @media (max-width: 765px) {
      font-size: 14px;
    }
  }
}
