$bannerHigth: 220px;

@mixin banner_contain($hauteur: 100%) {
  width: 100%;
  border-radius: 25px;
  height: $hauteur;
}

.banner {
  position: relative;
  height: $bannerHigth;

  @media (max-width: 765px) {
    height: 110px;
  }

  img {
    object-fit: cover;
    @include banner_contain($bannerHigth);

    @media (max-width: 765px) {
      @include banner_contain(110px);
    }
  }

  .banner__bg {
    @include banner_contain;
    background-color: black;
    position: absolute;
    z-index: 2;
    top: 0;
    opacity: 0.5;
  }

  .banner__text {
    @include banner_contain;
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: #fff;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-text-stroke-width: 1;
      -webkit-text-stroke-color: #000;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      @media (max-width: 765px) {
        font-size: 24px;
      }
    }
  }
}
